extends LayoutTheme
include ../mixins/travel-agency/common/TopNavbar
include ../mixins/travel-agency/common/Navbar
include ../mixins/travel-agency/hotel/HotelFooter

append variables
  //- - var attrsBody = {  };
  //- - var breakPoint = 'lg';
  - var attrsFooter = { class: 'position-relative'}

block mainContent
  +TopNavbar
  +Navbar
  block hotelContent

  block hotelFooter
    +HotelFooter.mb-9


  +Footer

  block supportChat
    +SupportChat